/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("/font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    background-color: #f2cf01;
    font-family: "ノスタルドット（M+）";
}
/* 文字変更はここ */
h1{
    font-size: 60px;
	text-align: center;
}
.icon{
    font-size: 30px;
    text-align: center;
}

/* アカウント情報入力の部分 */
.back{
	margin: auto;
	width: 800px;
	background-color: #f6ebac;
	border: 1px solid black;
	/* padding: 0 60px; */
}

/* メールアドレス入力部分 */
/* ----テキストボックス（外）---- */
.ipid{
    position: relative;
	width: 80%;
	/* 下線の位置 */
	margin: 40px 80px;
}
/* 入力する文字 */
.ipid input[type='text']{
    font: 24px/28px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.ipid input[type='text']:focus{
    outline: none;
}
/* テキストボックス（中） */
.id{
	/* ラベルと線の幅 */
    padding: 4px 0;
	/* margin-right: 50px; */
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.id ~ .focus_line{
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #f2cf01;
}
/* 下線と文字の動きと色を付ける下線の長さ */
.id:focus ~ .focus_line,
.ipid.id ~ .focus_line {
    width: 100%;
	transition: 0.4s;
}
/* ラベル */
.id ~ label{
    position: absolute;
	/* z-index: -1; */
	top: 4px;
	left: 0;
	/* width: 50%; */
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: black;
	/* ラベルのフォントサイズ */
	font-size: 25px;
}
.id:focus ~ label,.ipid.id ~ label{
	/* ラベルが移動するときのフォントサイズ */
    font-size: 18px;
	top: -16px;
	transition: 0.3s;
	color:#c4a705;
}
/* ----ここまで---- */


/* パスワード入力部分 */
/* ----テキストボックス（外）---- */
.ipname{
    position: relative;
	width: 80%;
	/* 下線の位置 */
	margin: 40px 80px;
}
/* 入力する文字 */
.ipname input[type='password']{
    font: 24px/28px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.ipname input[type='password']:focus{
    outline: none;
}
/* テキストボックス（中） */
.name{
	/* ラベルと線の幅 */
	font-size: 24px;
    padding: 4px 0px 4px 96px;
	width: 640px;
	height: 36.8px;
	/* margin-right: 50px; */
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.name ~ .focus_line{
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #f2cf01;
}
/* 下線と文字の動きと色を付ける下線の長さ */
.name:focus ~ .focus_line,
.ipname.name ~ .focus_line {
    width: 100%;
	transition: 0.4s;
}
/* ラベル */
.name ~ label{
    position: absolute;
	/* z-index: -1; */
	top: 4px;
	left: 0;
	/* width: 50%; */
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: black;
	/* ラベルのフォントサイズ */
	font-size: 25px;
}
.name:focus ~ label,.ipname.name ~ label{
	/* ラベルが移動するときのフォントサイズ */
    font-size: 18px;
	top: -16px;
	transition: 0.3s;
	color:#c4a705;
}
/* ----ここまで---- */
/* 送信ボタン */
.button_1{
    font-size: 20px;
    font-family: "ノスタルドット（M+）";
    margin: 20px;
	left: 40%;
	width: 100px;
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}