/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    font-family: "ノスタルドット（M+）";
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../img/maptile_sogen_02.png);
    background-size: 150px;
    background-repeat: repeat;
}
/* ヘッダー部分 */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; /* ヘッダー部分の高さ */
    background-image: url(../img/maptile_sogen_hana_02.png);
    background-size: 150px;
    background-repeat: repeat-x;
    z-index: -1;
}
/* フッター部分 */
body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background-image: url(../img/maptile_sogen_hana_02.png);
    background-size: 150px;
    background-repeat: repeat-x;
    z-index: -1;
}
/* スライドショー */
.slideshow {
    top: 40px;
    background-color: #D9D9D9;
    width: 600px;
    margin: auto;
} 
.slideshow .slide {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.slide-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.button{
    display: flex;
}
/* ログインボタンの位置 */
.login{
    display: flex;	
}
/* マイページボタン */
.mypage{
    display: flex;
    margin-right: auto;
}
/* アイコンのボタン*/
.icon{
    position: relative;
    left: 10px;
    top: 10px;
    width:100px;
    height: 100px;
    /* border-radius: 50%; */
    border:5px double black;
    background-color: #d6e0bac0;
}
/* アイコンの画像の大きさ */
.iconImg{
    position: relative;
    left: -7px;
    top: -2px;
    width: 100px;
    height: 100px;
}
/* ログインボタン */
.button_1{
    margin: 10px;
	width: 150px;
    height: 50px;/* 5/28 */
    font-size: 18px;/*変更(5/17)*/
    font-family: "ノスタルドット（M+）";
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}

/* ---画像の配置--- */

/* 全体の位置 */
.post_list {
    display: flex;
    flex-wrap: wrap;
}
/* 画像の位置 */
.image_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* テキスト位置 */
.post {
    flex: 1;
    text-align: center;
    margin: 5px;
}
/* 画像サイズ */
.post img {
    max-width: 100%;
    height: auto;
}