/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    font-family: "ノスタルドット（M+）";
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../img/maptile_sogen_02.png);
    background-size: 150px;
    background-repeat: repeat;
}
/* ヘッダー部分 */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; /* ヘッダー部分の高さ */
    background-image: url(../img/maptile_sogen_hana_02.png);
    background-size: 150px;
    background-repeat: repeat-x;
    z-index: -1;
}
/* フッター部分 */
body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background-image: url(../img/maptile_sogen_hana_02.png);
    background-size: 150px;
    background-repeat: repeat-x;
    z-index: -1;
}
/* スライドショー */
.slideshow {
    top: 40px;
    /* background-color: #000; */
    background-image: url(../img/haikei.jpg);
    /* background-color: rgba(255, 255, 255, 0.5); */
    border: 5px solid #fff;
    width: 800px;
    height: 450px;
    margin: auto;
} 
.slideshow .slide {
    position: relative;
    text-align: center;
    /* height: 400px;
    width: auto; */
    margin: 50px auto;
}
.slide img{
    width: auto;
    height: 350px;
    margin: auto;
}
.slide-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.user_name{
    font-size: 20px;
    position: relative;
    top: 5px;
}
.button{
    display: flex;
}
/* ログインボタンの位置 */
.login{
    display: flex;	
}
/* マイページボタン */
.mypage{
    display: flex;
    margin-right: auto;
}
/* アイコンの大きさ、色 */
.icon{
    position: relative;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
    padding: 5px 0px;
    /* border-radius: 50%; */
    /* border:5px double black; */
    background-color: transparent;
    border: none;
}
/* 画像の大きさ */
.iconImg{
    position: relative;
    width: 90px;
    height: auto; /* 高さは自動 */
}
/* ログインボタン */
.login_button{
    margin: 10px;
	width: 150px;
    height: 50px;/* 5/28 */
    font-size: 18px;/*変更(5/17)*/
    font-family: "ノスタルドット（M+）";
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}

/* ---画像の配置--- */

/* 全体の位置 */
.post_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* 画像の位置 */
.image_row {
    display: flex;
    /* width: 100%; */
    width: 70%;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* テキスト位置 */
.post {
    flex: 1;
    text-align: center;
    margin: 5px;
    border: double 5px;
    border-radius: 10px;
    background-color:#ffdec3;
}
/* 画像サイズ */
.post img {
    max-width: 70%;
    height: auto;
}
/* アイコン */
.icon-image{
    position: relative;
    left: -80px;
    max-width: 50px;
}
/* ユーザー名 */
.name{
    position: relative;
    top: -70px;
}
/* コメント */
.comment {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 1em;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    border: solid 3px #ffffff;
}
.comment:after {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-bottom: 15px solid #000000;
    width: 0;
    height: 0;
}
.comment:before {
    position: absolute;
    content: '';
    bottom: 101%;
    left: 26px;
    border: 19px solid transparent;
    border-bottom: 18px solid #ffffff;
    width: 0;
    height: 0;
}
.comment p {
    margin: 0; 
    padding: 0;
}
/* いいねボタン */
.like-button{
    position: relative;
    left: -40px;
    width: 35px;
    height: 35px;
  }

/* いいねの数 */
.like-count{
    position: relative;
    left: -36px;
}

/* フォローボタン */
.follow_button{
    width: 35px;
    height: 35px;
    position: relative;
    left: 30px;
}