body{
    background-color: #9460a0;
    /* 画像の場所 */
    position: relative;
    
}
/* スライドショー */
.slideshow {
    top: 40px;
    background-color: #D9D9D9;
    width: 600px;
    margin: auto;
} 
.button{
    display: flex;
    /* margin: 20px; */
}
/* ログインボタンの位置 */
.login{
    display: flex;	
}
/* マイページボタン */
.mypage{
    display: flex;
    margin-right: auto;
}
/* アイコンの大きさ、色 */
.icon{
    background-color: #9460a0;
    /* position: absolute; */
    /* margin: 10px; */
    width:50px;
    height: 50px;
    border: none;
}
/* 画像の大きさ */
.iconImg{
    z-index:20;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* ログインボタン */
.button_1{
    width: 75px;
    font-size: 20px;
    font-family: "ノスタルドット（M+）";
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}
/* 全体の位置 */
.post_list {
    display: flex;
    flex-wrap: wrap;
}
/* 画像の位置 */
.image_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* テキスト位置 */
.post {
    flex: 1;
    text-align: center;
    margin: 5px;
}
/* 画像サイズ */
.post img {
    max-width: 100%;
    height: auto;
}