/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    background-image: url(../img/maptile_mizu.png);
	background-size: 150px;
    font-family: "ノスタルドット（M+）";
}

/* 戻るボタン */
.return{
	text-align: left;
	margin-bottom: 10px;
}

.history_title{
    text-align: center;
    font-size: 25px;
}
/* ユーザー名 */
.user_name{
    font-size: 25px;
    position: relative;
    top: 40px;
    left: 20px;
    
}
/* 投稿数やフォロー数の値のみ大きく */
.value{
    font-size: 25px;
}
.profile{
    display: flex;
}
/* 投稿数・bio・フォロー・フォロワーを囲む */
.text{
    color: #fff;
    padding: 15px;
    border: 5px solid #fff;
    background-color: #080808;
    display: inline-block;
    /* border-radius: 10px; */
    margin: 20px;
}
/* 画像の大きさ */
.iconImg{
    margin: 20px;
	width: 90px;
	height: 90px;
	/* border-radius: 50%; */
	/* border:5px double black; */
    padding: 5px;
    /* background-color: #67d0dcc0; */
}
/* ログアウト */
.logout{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #000;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* text-align: right;
    margin-bottom: 10px; */
}
/* ログアウト文字 */
.logout_link{
    position: relative;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    bottom: -25px;
    right: -13px;
}

/* トップリンク */
.top{
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 60px;
    width: 60px;
}
.top img{
    height: 60px;
    width: 60px;
}

/* 削除ボタン */
.post_delete{
    position: relative;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    top: 25px;
}
.post_delete img{
    height: 40px;
    width: 40px;
}

/* 投稿とホームをflexで調整 */
.head{
    display: flex;
    /* justify-content: flex-end; */
    /* margin: 20px; */
}
.head>div:nth-of-type(2){
    margin-right: auto;
}

/* 戻るボタン */
.return_button{
	width: 150px;
	height: 50px;
    font-size: 18px;/*変更(5/17)*/
	font-family: "ノスタルドット（M+）";
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #8f8e8e;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}

/* 投稿ボタン */
.post_button{
    margin: 20px;
	width: 150px;
    font-size: 18px;/*変更(5/17)*/
    font-family: "ノスタルドット（M+）";
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border-bottom: solid 4px #5e5d5c;
    border-radius: 15px 15px 0 0;
    transition: .4s;
	overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.post_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}

/* ホームボタン */
.home_button{
    margin: 20px;
	width: 150px;
	font-size: 18px;
	font-family: "ノスタルドット（M+）";
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
	overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.home_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}

/* プロフィール編集ボタン */
.update_button{
    margin: 20px;
	width: 150px;
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border-bottom: solid 4px #5e5d5c;
    border-radius: 15px 15px 0 0;
    transition: .4s;
    overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.update_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}

/* チャットボタン */
.talk_button{
    margin: 20px;
	width: 150px;
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border-bottom: solid 4px #5e5d5c;
    border-radius: 15px 15px 0 0;
    transition: .4s;
    overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.talk_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}

/* いいね一覧ボタン */
.good_button{
    margin: 20px;
	width: 150px;
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border-bottom: solid 4px #5e5d5c;
    border-radius: 15px 15px 0 0;
    transition: .4s;
    overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.good_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}

/* デフォルトアイコンのとこ */
.icon-option {
	display: inline-block;
	margin: 10px;
	text-align: center;
}
.icon-option img {
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
}
.icon-option input[type="radio"] {
	display: none;
}
.icon-option input[type="radio"]:checked + img {
	border: 2px solid #f00;
}

/* 投稿リスト */
/* テキスト位置 */
.post {
    flex: 1;
    text-align: center;
    margin: 5px;
    border: double 5px;
    /* 上のみ丸くする */
    border-radius: 2%;
    background-color:#000;
    color: #fff;
    height: 350px;
}

/* 画像サイズ */
.post_img {
    /* max-width: 70%; */
    width: auto;
    height: 150px;
    /* height: 200px; */
    border: #fff;
}
.post_list {
    display: grid;
    grid-template-columns: repeat(3, 300px);/* 投稿３つとサイズ */
    gap: 24px 4%;/* 投稿ごとの幅 */
    list-style: none;
    justify-content: center;
}
.post-2{
    background-color: #fff;
}
.post-3{
    background-color: #000;
}
.post_comment{
    margin: auto;
    height: 50px;
    width: 200px;
    border: 2px solid #fff;
    position: relative;
    top: 15px;
}