/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    /* background-image: url(../img/maptile_renga_white_02.png); */
    background-image: url(../img/maptile_renga_brown_01_1.jpg);
    font-family: "ノスタルドット（M+）";
    background-size: 250px;
    height: 715px;
}

.title {
    font-size: 30px;
    padding: 0.5em;
    /* margin: 2em; */
    font-weight: bold;
    color: green;
    background: black;
    border: green;
    border-radius: 10px;
    width: 180px;
    /* text-align: center; */
}


.g_name{
    font-size: 20px;
    padding: 0.5em;
    /* margin: 2em; */
    font-weight: bold;
    color: green;
    background: black;
    border: green;
    border-radius: 10px;
    width: 180px;
    /* text-align: center; */
}

h3{
    position: relative;
    padding: 0.5em 0.7em;
    /* margin: 2em 0; */
    background: black;
    color: green;
    font-weight: bold;
    width:180px;
    border-radius: 10px;
}
h3:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid black;
    width: 0;
    height: 0;
}
.user-list {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.user-item {
    width: 20%; /* 横に5つ並べるための幅 (100% / 5) */
    box-sizing: border-box;
    padding: 10px;
    color:green;
}
.head_4{
    
}
.group_name{
    background-color:black;
    border-radius: 10px;
    padding: 10px;
    color: green;
}
.create_group{
    margin: 5px;
	width: 130px;
    height: 50px;
	font-size: 18px;
	font-family: "ノスタルドット（M+）";
	position: relative;
    top: 0;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border: solid 2px #5e5d5c;
	border-radius: 15px 15px 0 0;
	overflow: hidden; /* オーバーフローを隠す */
    box-shadow: 0 5px #5e5d5c;
}
.home_button{
    margin: 5px;
	width: 130px;
    height: 50px;
	font-size: 18px;
	font-family: "ノスタルドット（M+）";
	position: relative;
    top: 0;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border: solid 2px #5e5d5c;
	border-radius: 15px 15px 0 0;
	overflow: hidden; /* オーバーフローを隠す */
    box-shadow: 0 5px #5e5d5c;
}