/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    /* background-image: url(../img/maptile_renga_white_02.png); */
    background-image: url(../img/maptile_renga_brown_01_1.jpg);
    font-family: "ノスタルドット（M+）";
    background-size: 250px;
    height: 715px;
}

.title{
    font-size: 30px;
	/* text-align: center; */
}
.g_name{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
.user-list {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.user-item {
    width: 20%; /* 横に5つ並べるための幅 (100% / 5) */
    box-sizing: border-box;
    padding: 10px;
}
.head_4{
    
}