/* 追加(5/21) */

/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    background-image: url(../img/maptile_yogan.png);
    font-family: "ノスタルドット（M+）";
    text-align: center;
}
p{
    font-family: "ノスタルドット（M+）";
    font-size: 20px;
}
h1{
    font-size: 45px;
	/* text-align: center; */
}
textarea{
    background-color: black;
    font-family: "ノスタルドット（M+）";
    color:white;
    font-size: 20px;
    border: 5px solid white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: auto;
}
/* 戻るボタンの位置(5/22) */
.return{
    text-align: left;
	/* margin-bottom: 10px; */
}
/* 投稿成功したときの各画面に戻るボタン */
.Okbutton{
    display: flex;
    margin: 20px;
    justify-content: center;
}

/* 投稿ボタン */
.post_button{
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
    margin: 10px;
	width: 150px;
    height: 50px;
	position: relative;
    top: 0;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border: solid 2px #5e5d5c;
	border-radius: 15px 15px 0 0;
    overflow: hidden; /* オーバーフローを隠す */
    box-shadow: 0 5px #5e5d5c;
}
/* 投稿ボタンをクリックしたとき */
.post_button:active {
    opacity: 0.5;
    margin-top: 14px;
    margin-bottom: 6px;
    box-shadow: 0 1px 0 #5e5d5c;
  }
/* ボタンのホバースタイル */
/* .send_button:hover::before{
	content: attr(data-hover);ホバー時のテキストをdata-hover属性から取得
} */
/* 各ボタン追加(5/22) */
/* 戻るボタン */
.return_button{
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
	position: relative;
    top: 0;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border: solid 2px #5e5d5c;
	border-radius: 15px 15px 0 0;
	box-shadow: 0 5px #5e5d5c;
}
/* 戻るボタンをクリックしたとき */
.return_button:active {
    opacity: 0.5;
    margin-top: 14px;
    margin-bottom: 6px;
    box-shadow: 0 1px 0 #5e5d5c;
  }
/* マイページボタン */
.mypage_button{
    margin: 10px;
	width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border-bottom: solid 4px #5e5d5c;
    border-radius: 15px 15px 0 0;
    transition: .4s;
    overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.mypage_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}

/* ホームボタン */
.home_button{
    margin: 10px;
	width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: "ノスタルドット（M+）";
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #080808;
    background: #bfbebe;
    border-bottom: solid 4px #5e5d5c;
    border-radius: 15px 15px 0 0;
    transition: .4s;
    overflow: hidden; /* オーバーフローを隠す */
}
/* ボタンのホバースタイル */
.home_button:hover::before{
	content: attr(data-hover);/* ホバー時のテキストをdata-hover属性から取得 */
}