/* ダウンロードしたフォント */
@font-face {font-family: "ノスタルドット（M+）";
    src: url("../font/Nosutaru-dotMPlusH-10-Regular.ttf");}

body{
    background-color: #ffff2d;
    font-family: "ノスタルドット（M+）";
	border-bottom: #696969 8px dashed;/*追加(5/17)*/
}

/* 新規登録ボタンの位置 */
.return{
    text-align: left;
	margin-bottom: 10px;
}

/* 仮登録情報入力の部分 */
.back{
	margin: auto;
	width: 800px;
	background-color: #f6ebac;
	border: 8px double #696969;/*変更(5/17)*/
	/* 追加(5/17) */
	border-radius: 5px;
	box-shadow: 0px 6px;
}

/* 文字変更はここ */
h1{
    font-size: 45px;/*変更(5/17)*/
	text-align: center;
}
/* 追加(5/17) */
.title{
    font-size: 80px;
	text-align: center;	
	text-shadow: 0px 5px #696969;
	margin: 15px;
	/* 文字の間隔 */
	letter-spacing: 0.2em;
	/* 文字の太さ */
	font-weight: bold;
}
p{
    font-size: 25px;
    text-align: center;
}
.link{
    font-size: 25px;
    text-align: center;
}

/* メールアドレス入力部分 */
/* ----テキストボックス（外）---- */
.iptxt{
    position: relative;
	width: 80%;
	/* 下線の位置 */
	margin: 40px 80px;
}
/* 入力する文字 */
.iptxt input[type='text']{
    font: 20px sans-serif;/*変更(5/17)*/
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	/* 入力する文字の開始位置 */
	padding-left: 8em;/*変更(5/17)*/
}
.iptxt input[type='text']:focus{
    outline: none;
}
/* テキストボックス（中） */
.ml{
	/* ラベルと線の幅 */
    padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.ml ~ .focus_line{
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #f2cf01;
}
/* 下線と文字の動きと色を付ける下線の長さ */
.ml:focus ~ .focus_line,
.iptxt.ml ~ .focus_line {
    width: 100%;
	transition: 0.4s;
}
/* ラベル */
.ml ~ label{
    position: absolute;
	top: 4px;
	left: 0;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: black;
	/* ラベルのフォントサイズ */
	font-size: 20px;/*変更(5/17)*/
}
.ml:focus ~ label,.iptxt.ml ~ label{
	/* ラベルが移動するときのフォントサイズ */
    font-size: 15px;/*変更(5/17)*/
	top: -16px;
	transition: 0.3s;
	color:#c4a705;
}
/* ----ここまで---- */


/* パスワード入力部分 */
/* ----テキストボックス（外）---- */
.ippass{
    position: relative;
	width: 80%;
	/* 下線の位置 */
	margin: 40px 80px;
}
/* 入力する文字 */
.ippass input[type='password']{
    font: 20px sans-serif;/*変更(5/17)*/
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	/* 入力する文字の開始位置 */
	padding-left: 8em;/*変更(5/17)*/
}
.ippass input[type='password']:focus{
    outline: none;
}
/* テキストボックス（中） */
.pw{
	/* ラベルと線の幅 */
    padding: 4px 0px 4px 96px;
	width: 640px;
	height: 36.8px;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.pw ~ .focus_line{
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #f2cf01;
}
/* 下線と文字の動きと色を付ける下線の長さ */
.pw:focus ~ .focus_line,
.ippass.pw ~ .focus_line {
    width: 100%;
	transition: 0.4s;
}
/* ラベル */
.pw ~ label{
    position: absolute;
	top: 4px;
	left: 0;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: black;
	/* ラベルのフォントサイズ */
	font-size: 20px;/*変更(5/17)*/
}
.pw:focus ~ label,.ippass.pw ~ label{
	/* ラベルが移動するときのフォントサイズ */
	font-size: 15px;/*変更(5/17)*/
	top: -16px;
	transition: 0.3s;
	color:#c4a705;
}
/* ----ここまで---- */


/* 戻るボタン */
.button{
    font-size: 18px;/*変更(5/17)*/
    font-family: "ノスタルドット（M+）";
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}
/* 送信ボタン */
.button_1{
    font-size: 18px;/*変更(5/17)*/
    font-family: "ノスタルドット（M+）";
    margin: 20px;
	left: 37%;/*変更(5/17)*/
	width: 160px;/*変更(5/17)*/
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #080808;
	background: #bfbebe;
	border-bottom: solid 4px #5e5d5c;
	border-radius: 15px 15px 0 0;
	transition: .4s;
}